/* HTML Elements */
a:link {
    color: white;
}

body {
    background: url("../images/funky_lines.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

main {
    background-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}


/* Other classes */
.container {
    max-width: 960px;
}

.portfolio-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-container {
    margin-top: 20px;
}

.projectName {
    background-color: #4aaaa5;
    bottom: 50px;
    color: white;
    position: absolute;
    text-align: center;
    width: 300px; 
}